*.mex
*.mexw64
*.mexa64
*.mat
*.t7
*.jpg
*~
*.out
.project
.buildpath
detections.txt
detections_*.txt
*.zip
/.idea
CMakeFiles/*
img_preproc/facedet/OpenCV_ViolaJones/CMakeFiles/
results/
results_deepid/
data_files/
images/
